<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
      <add name="estagiado" connectionString="server=localhost; user ID=developer; password=1234567; database=estagiado_db" providerName="MySql.Data.MySqlClient;"/>
    </connectionStrings>
</configuration>



